.manage {
  .imageContainer {
    position: relative;
    height: 350px;
    width: 100%;
    overflow: hidden;
  }

  .imageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 4px 32px rgba(0, 0, 0, 0.9);
    pointer-events: none;
  }

  .manage_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 70%;
    display: block;
  }
.button_product{
  position :absolute;
  top: 70%;
  left: 70%;
  right: 0;
  bottom: 0;
}
}
