.background_calendar{
  z-index: 1005;
  position: fixed;
  top: 100px;
  left: 20px;
  height:370px;
  width: 340px;
  border-radius: 25px;
  border : 2px solid;
  border-collapse: collapse;
  background-color: var(--primary-color-transparent);
  display: flex;
    justify-content: center;
  .calendar{
    background-color: var(--secondary-color);
    height:260px;
    width: 300px;
    border-radius: 25px;
    margin-top: 20px;
    border: 1px solid;
    font-weight: 700;
    font-size: 18px;
  }
  .table{
    height: 70%;
    width: 100%;

  }
  .date{
    height: 15%;
    font-size: 24px;
  }
  .calendar_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    position: relative;
    font-size: 24px;
    p{
      margin:0;
    }
    img {
      width: 26px;
      height: 26px;
      margin: 0 15px;
    }
    img:hover {
      cursor: pointer;
        transform: scale(1.3);
    }
  }

  .calendar_head::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    border-bottom: 1px solid black;
  }
  .day{

  }
  .not_in_month{
    color: #7B7B6E;
  }
  .selected{
    color: var(--primary-color);
    scale: 1.2;
  }
  .button_container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;


    margin-top: 20px;
    .button{
      border-radius: 5px;
      background-color: var(--primary-color);
      font-weight: 500;
      color: var(--secondary-color);
      border: none;
      padding: 5px 10px;
      &:hover{
        border: black solid 2px;
      }
    }
  }
  .confirmationPopup{
    position: absolute;
    width: 101%;
    top:80%;
    background-color: var(--secondary-color);
    border-radius: 25px;
    border: 2px solid;
  }
}
.background_calendar_menu{
    border: none;
  height: auto;
  width: auto;
  .calendar{
    margin-top: 0;
  }
}