.headernav {
  .headerpagesnav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.logo {
  --logo-height: 70px;
  --logo-width: 70px;
  height: var(--logo-height);
  width: var(--logo-width);
  position: absolute;
  left: calc((var(--header-height) - var(--logo-width)) / 2);
  top: calc((var(--header-height) - var(--logo-width)) / 2);
}

.lastdiv {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 100px;

  button {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  position: relative;
  background: var(--secondary-color);
  border-radius: 25px;
  padding: 20px;

  width: 100%;
}

.loginContent {
  width: 400px;
  height: 300px;
  box-shadow: 4px 4px 16px 5px rgba(0, 0, 0, 0.4);
  border : 1px solid black;
}

.registerContent {
  width: 400px;
  height: 400px;
  box-shadow: 4px 4px 16px 5px rgba(0, 0, 0, 0.4);
  border : 1px solid black;
}
