.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  .group{
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .group_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin: 40px;
  }
}