.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .group {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
  }

  .group_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin: 20px;
  }

  input.error {
    border-color: red;
    border-width: 2px;
  }

  .errorMessage {
    position: absolute;
    color: red;
    top: 0;
    right: 0;
    font-size: 0.8rem;
    transform: translateY(-100%);
  }
}
